.search-container {
    width: 95%;
    margin: 0 auto;
    opacity: 1;
    padding-bottom: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* id zip-code-input*/
#zip-code-input {
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

::placeholder {
   text-align: center;
}
