html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.App {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: red;
}

/*.App and also an image */
.App img{
    padding-top: 50px;
}